/source/guides/argonaut/clinicalnotes
/source/guides/argonaut/pd
/source/guides/argonaut/questionnaire
/source/guides/argonaut/r2
/source/guides/argonaut/scheduling
/source/guides/hspc/core
/.sass-cache
/output
