---
layout: page
title: Publication History - fhir.base.template
---
  <script type="application/javascript" src="history-cm.js"> </script>
  <script type="application/javascript" src="http://hl7.org/fhir/history.js"> </script>

<div class="col-12">

<h2>Publication (Version) History</h2>

<div id="intro"></div>

<div id="history-data"></div>
<style>
    #history-data table td { padding-right: 1em; }
</style>

<p>
  <span id="ig-footer">TBD </span> &reg;&copy; <a style="color: #81BEF7" href="http://hl7.org/fhir">FHIR</a> |
  <!--  <a style="color: #81BEF7" rel="license"  <href="../license.html"><img style="border-style: none;" alt="CC0" src="cc0.png"/></a> -->
  <a style="color: #81BEF7" rel="license" href="http://hl7.org/fhir/license.html"><img style="border-style: none;" alt="CC0" src="cc0.png"/></a>
</p>

<!--- Include in the page --->
<script>
var pageJSON = '{"package-id" : "hl7.au.fhir.template","title" : "Base template for FHIR IGs published by HL7","canonical" : "http://fhir.org/templates/hl7.fhir.template","introduction" : "This is the basic template for FHIR guides published by HL7","list" : [{"version" : "current","desc" : "Continuous Integration Build (latest in version control)","path" : "https://build.fhir.org/ig/HL7au/hl7.au.fhir.template","status" : "ci-build","current" : true},{"version" : "0.1.0","desc" : "First release","path" : "http://fhir.org/templates/hl7.au.fhir.template/0.1.0","status" : "release","sequence" : "Publications","current" : true,"date" : "2020-07-03"}]}';
load(pageJSON);
</script>

