---
layout: page
title: Welcome to the HL7 FHIR Foundation
---
<p>
Welcome to the HL7® FHIR® Foundation, the home for FHIR Implementers. <a href="http://hl7.org/fhir">FHIR</a> (Fast Health Interoperability Resources) is an <a href="http://hl7.org/">HL7</a> specification for Healthcare Interoperability.
</p>

<tbody><tr>
<td>
<strong>FHIR® Community Links</strong>
<ul>
<li><a href="http://wiki.hl7.org/index.php?title=FHIR_Support_Page">Where to find support for FHIR</a></li>
<li><a href="http://community.fhir.org/">Public Community Forum</a></li>
<li><a href="http://chat.fhir.org/">FHIR Chat Channels</a></li>
<li>The FHIR standard is maintained by HL7 <a href="http://www.hl7.org/participate/index.cfm?ref=nav">(get involved)</a></li>
</ul>
</td>
<td>
<strong>FHIR Foundation <a href="https://www.hl7.org/participate/membership/fhir-foundation.cfm">Member</a> Services</strong>
<ul>
<li>Forums: <a href="http://www.fhir.org/forum/1">Foundation Forum</a> and <a href="http://www.fhir.org/forum/2">Market Place</a></li>
<li><a href="https://www.fhir.org/archive/reports">Monthly Status Reports</a></li>
</ul>
<p>
<a href="https://www.hl7.org/participate/membership/fhir-foundation.cfm"><img src="./template_files/list-star.png"> Become a Member Now</a>
</p>
</td>
</tr>
<tr>
<td>
<strong>FHIR Implementation Links</strong>
<ul>
<li>Registry of <a href="https://registry.fhir.org/guides">Implementation Guides</a></li>
<li>Registry of <a href="https://www.fhir.org/implementations/registry/">Implementations</a></li>
<li>Smart-on-FHIR <a href="https://apps.smarthealthit.org/">App Registry</a></li>
<li>FHIR Community Projects (coming)</li>
<li>FHIR Reference Implementations (coming)</li>
</ul>
</td>
<td>
<p><strong>FHIR Implementation Support</strong></p>
<ul>
<li>FHIR Trademark use applications for <a href="https://www.fhir.org/community-license">Community</a> and <a href="https://www.fhir.org/product-license">Product</a> Use</li>
<li><a href="https://www.fhir.org/conformance-testing">Conformance Testing</a></li>
</ul>
</td>
</tr>
</tbody></table>
<p> <a href="https://www.fhir.org/node/2">About fhir.org and the HL7 FHIR Foundation</a></p>
<p><strong>News</strong></p>
<ul style="list-style-image: url(&#39;/assets/images/list-star.png&#39;);">
<li>Would you please take a moment and <a href="https://www.surveymonkey.com/r/CMGHT2F" target="_new">complete a brief survey</a> about how FHIR is being used around the world?</li>
<li><a href="https://www.fhir.org/archive/press/FHIR-Membership-2017-10-30.pdf">FHIR Foundation Membership announcement, Oct 30, 2017</a></li>
</ul>
<p>Keep up to date with <a href="https://twitter.com/search?q=%23fhir">#FHIR</a> on Twitter. Contact <a href="mailto:grahame@hl7.org">the HL7 FHIR Foundation</a></p>
<p>FHIR® and the Flame design mark are the registered trademarks of HL7® and are used with the permission of HL7.</p>
