# .htaccess file for www.FHIR.org/guides


Options +FollowSymlinks
Options -Indexes


RewriteEngine on

# Remove superfluous trailing slash from files
RewriteCond %{REQUEST_URI} /(.+)/$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ https://www.FHIR.org/%1 [R=301,L]

# Add missing trailing slash to directory 
RewriteCond %{REQUEST_URI} !(.+)/$
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)$ https://www.FHIR.org/guides/$1/ [R=301,L]

# Enforce https:// and www. 
RewriteCond %{HTTP_HOST} !^www\.(.*)$ [OR,NC]
RewriteCond %{https} off  
RewriteRule ^(.*)$ https://www.FHIR.org/guides/$1 [R=301,L]
